@use "../modules/mixins" as m;

.book__form-wrap {
  width: min(100%, 450px);
  margin: 0 auto;
}
.book__form {
  position: relative;
}
.book__textfield {
  width: 100%;
  height: 38px;
  border: 1.5px solid #ababab;
  @include m.font-set(16) {
    font-weight: bold;
  }
  color: #ababab;
  padding: 0 0.5em;
  &:focus {
    outline: none;
  }
}
.book__submit {
  position: absolute;
  right: 10px;
  top: calc(50% - 24px / 2);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.book__button {
  width: min(100%, 200px);
  height: 35px;
  background-color: #269bf4;
  @include m.font-set(16);
  color: #fff;
  border-radius: 0.5em;
  margin: 3em auto 0;
  @include m.centering;
  box-shadow: 0 4px 1px rgb(71, 111, 123);
  @include m.button-hover-behavior;
}
.book__list {
  width: min(100%, 650px);
  margin: 50px auto 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 100px;
}
.book__card {
  width: min(30%, 150px);
}
.book__image {
  aspect-ratio: 150/220;
}
.book__title {
  @include m.font-set(18) {
    font-weight: bold;
  }
  color: #269bf4;
}
.book__author {
  @include m.font-set(14) {
    font-weight: bold;
  }
  color: #269bf4;
}
