@use "../modules/mixins" as m;
@use "../modules/variables" as v;

/* トップページ */
.book__form-wrap {
  width: min(100%, 450px);
  margin: 0 auto;
}
.book__button {
  width: min(100%, 200px);
  height: 35px;
  background-color: v.$color-blue;
  @include m.font-set(16);
  color: #fff;
  border-radius: 0.5em;
  margin: 3em auto 0;
  @include m.centering;
  box-shadow: 0 4px 1px rgb(71, 111, 123);
  @include m.button-hover-behavior;
}
.book__list {
  width: min(100%, 650px);
  margin: 50px auto 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 35px 100px;
}
.book__card {
  width: min(30%, 150px);
  &:hover {
    opacity: 0.8;
  }
}
.book__image {
  width: 100%;
  aspect-ratio: 150/220;
}
.book__title {
  @include m.font-set(18) {
    font-weight: bold;
  }
  color: v.$color-blue;
}
.book__author {
  @include m.font-set(14) {
    font-weight: bold;
  }
  color: v.$color-blue;
}

/* 書籍を追加する */
.book-new__heading {
  @include m.font-set(20);
  text-align: center;
}
.book-new__form-wrap {
  width: min(100%, 550px);
  margin: 50px auto 0;
}
.book-new__list {
  width: min(100%, 550px);
  margin: 50px auto 0;
}
.book-new__card {
  padding: 30px 0;
  border-bottom: 1.5px solid v.$color-gray;
}
.book-new__card-image {
  width: 30%;
  img {
    max-width: 75%;
    aspect-ratio: 123/160;
  }
}
.book-new__card-detail {
  width: 70%;
  position: relative;
}
.book-new__card-title {
  @include m.font-set(18);
  color: v.$color-blue;
}
.book-new__card-authors,
.book-new__card-publisher {
  @include m.font-set(14);
  color: v.$color-blue;
}
.book-new__card-authors {
  flex-wrap: wrap;
}
.book-new__card-authors-item {
  color: v.$color-blue;
}
.book-new__card-button {
  border: none;
  width: min(100%, 65px);
  margin: 1em 0 0 auto;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}
.book-new__dialog-head {
  justify-content: space-between;
}
.book-new__dialog-image {
  width: 30%;
  aspect-ratio: 117/165;
}
.book-new__dialog-detail {
  width: 65%;
}
.book-new__dialog-title {
  @include m.font-set(18);
  color: v.$color-blue;
}
.book-new__dialog-authors,
.book-new__dialog-publisher {
  @include m.font-set(14);
  color: v.$color-blue;
  flex-wrap: wrap;
}
.book-new__dialog-authors-item {
  color: v.$color-blue;
}
.book-new__dialog-form {
  margin-top: 15px;
}
.book-new__dialog-label {
  @include m.font-set(16) {
    font-weight: bold;
  }
  display: block;
  text-align: center;
}
.book-new__dialog-select {
  width: 100%;
  @include m.font-set(14);
  padding: 0.4em;
  border-radius: 5px;
  border: 1px solid v.$color-gray;
  margin-top: 0.5em;
}
.book-new__dialog-buttons {
  justify-content: space-between;
  margin-top: 25px;
}
.book-new__dialog-button {
  width: 45%;
  height: 40px;
  margin: 0;
  cursor: pointer;
  border: none;
  &.cancel {
    background-color: #757575;
  }
}

/* 書籍詳細 */
.book-show__data {
  justify-content: space-between;
}
.book-show__image {
  width: 23%;
  img {
    width: 100%;
    aspect-ratio: 128 / 182;
    object-fit: cover;
  }
}
.book-show__detail {
  width: 75%;
}
.book-show__title {
  @include m.font-set(20);
}
.book-show__authors {
  @include m.font-set(16);
  flex-wrap: wrap;
}
.book-show__buttons {
  margin-top: 15px;
  justify-content: space-between;
}
.book-show__button {
  margin: 0;
  border: none;
  cursor: pointer;
  &.amazon {
    background-color: #fa8a01;
    border: none;
    box-shadow: 0 4px 1px rgba(250, 138, 1, 0.9);
  }
}
.book-show__form {
  width: min(100%, 200px);
}
.book-show__note {
  margin-top: 15px;
}
.book-show__note-title {
  @include m.font-set(14);
}
