@use "../modules/mixins" as m;
@use "../modules/variables" as v;

/* 共通部分 */
.basic-note-box {
  border: 1px solid v.$color-gray;
  overflow: hidden;
  border-radius: 10px;
}
.basic-note-box__title {
  @include m.font-set(20) {
    font-weight: bold;
  }
  background-color: v.$color-blue;
  color: #fff;
  display: block;
  padding: 0.3em 0;
  text-align: center;
}
.basic-note-box__content {
  @include m.font-set(14) {
    font-weight: bold;
  }
  padding: 1.1em;
}

/* ノート作成＆編集フォーム */
.note-update__heading--sub {
  @include m.font-set(16);
  color: v.$color-gray-font;
  text-align: center;
}
.note-update__heading {
  @include m.font-set(22);
  color: v.$color-blue;
  text-align: center;
  margin-top: 0.5em;
}
.note-update__form {
  margin-top: 30px;
}
.note-update__form-item {
  border: 1px solid v.$color-gray;
  overflow: hidden;
  border-radius: 10px;
  &:not(.first) {
    margin-top: 25px;
  }
}
.note-update__form-inner {
  padding: 16px;
}
.note-update__error-message {
  @include m.font-set(16) {
    font-weight: bold;
  }
  color: v.$color-red;
  text-align: center;
  margin: 0.3em 0;
}
.note-update__title {
  @include m.font-set(20) {
    font-weight: bold;
  }
  background-color: v.$color-blue;
  color: #fff;
  display: block;
  padding: 0.3em 0;
  text-align: center;
}
.note-update__label {
  @include m.font-set(16) {
    font-weight: normal;
  }
  display: block;
  color: v.$color-gray-font;
  &.second {
    margin-top: 2em;
  }
}
.note-update__textarea {
  @include m.font-set(16);
  resize: none;
  border: none;
  width: 100%;
  min-height: 160px;
  &::placeholder {
    @include m.font-set(14);
    color: v.$color-gray-font;
  }
  &:focus {
    outline: none;
  }
  &.has-padding {
    padding: 0.5em 0;
  }
}
.note-update__textfield {
  @include m.font-set(16);
  border: none;
  border-bottom: 1px solid v.$color-gray;
  width: 100%;
  padding: 0.5em 0;
  &::placeholder {
    @include m.font-set(14);
    color: v.$color-gray-font;
  }
  &:focus {
    outline: none;
  }
}
.note-update__list {
  padding-top: 20px;
}
.note-update__list-item {
  border-bottom: 1px solid v.$color-gray;
  padding-bottom: 16px;
  &.action-plan {
    position: relative;
    border-bottom: none;
    margin-top: 0 !important;
  }
  &:not(:first-child) {
    margin-top: 30px;
  }
}
.note-update__list-mark {
  position: absolute;
  right: 0;
  cursor: pointer;
  top: 50%;
  transform: translateY(-16px);
}
.note-update__button {
  margin: 0 auto;
  cursor: pointer;
  border: none;
  width: min(100%, 100px);
  box-shadow: none;
  &.destroy {
    background-color: v.$color-gray-font;
  }
  &.has-margin {
    margin-top: 1em;
  }
}

/* ノート詳細 */
.note-show__head {
  justify-content: space-between;
}
.note-show__head-item {
  &.flex {
    gap: 12px;
  }
}
.note-show__dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: min(100%, 300px);
  border: none;
}
.note-show__dialog-text {
  @include m.font-set(16) {
    font-weight: bold;
  }
  text-align: center;
  padding: 1em;
}
.note-show__dialog-button {
  @include m.font-set(14) {
    font-weight: bold;
  }
  width: 50%;
  height: 42px;
  cursor: pointer;
}
.note-show__link,
.note-show__text {
  @include m.font-set(14);
  color: v.$color-gray-font;
}
.note-show__icon {
  @include m.font-set(18);
  cursor: pointer;
}
.note-show__title {
  @include m.font-set(20);
  color: v.$color-blue;
  text-align: center;
  margin-top: 2em;
}
.note-show__author {
  @include m.font-set(14);
  text-align: center;
  margin-top: 1em;
}
.note-show__main {
  margin-top: 50px;
}
.note-show__box {
  &:not(.first) {
    margin-top: 25px;
  }
}
.note-show__list-title {
  @include m.font-set(18);
  background: linear-gradient(transparent 60%, #a1e8fe 60%);
  display: inline-block;
  &:not(:first-of-type) {
    margin-top: 0.5em;
  }
}
.note-show__list-desc {
  margin-top: 1em;
}
.note-show__list-item {
  &:not(:first-child) {
    margin-top: 0.4em;
  }
}
.note-show__bottom {
  margin-top: 25px;
}
.note-show__like {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
}
.note-show__like-text {
  @include m.font-set(16) {
    font-weight: bold;
  }
}
.note-show__like-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.note-show__like-icon {
}
.note-show__like-count {
  @include m.font-set(16) {
    font-weight: bold;
  }
}
.note-show__comment {
  margin-top: 25px;
}
.note-show__comment-textarea {
  @include m.font-set(14);
  width: 100%;
  height: 85px;
  resize: none;
  border: 2px solid #ccc;
  padding: 1em;
}
.note-show__comment-submit {
  width: min(100%, 65px);
  height: 25px;
  @include m.font-set(14);
  border: none;
  margin: 0.5em auto 0;
  cursor: pointer;
}
.note-show__comment-heading {
  @include m.font-set(16);
  text-align: center;
  margin-top: 2em;
}
.note-show__comment-list {
  margin-top: 15px;
}
.note-show__comment-item {
  background-color: #ececec;
  border-radius: 5px;
  padding: 10px;
  &:not(:first-child) {
    margin-top: 25px;
  }
}
.note-show__comment-body {
  @include m.font-set(16) {
    font-weight: bold;
  }
}
.note-show__comment-info {
  @include m.font-set(14) {
    font-weight: bold;
  }
  text-align: right;
}
