@use "mixins" as m;
@use "variables" as v;

/* 基本width */
.wrap {
  width: min(100%, 1440px);
  padding: 0 20px;
  margin: 0 auto;
}

/* flexbox */
.flex {
  display: flex;
}

/* 要素の非ボックス化 */
.contents {
  display: contents;
}

/* メイン部分スタイル */
.main {
  padding: 50px 0;
}

/* 基本ボタンスタイル */
.basic-button {
  width: min(100%, 200px);
  height: 35px;
  background-color: v.$color-blue;
  @include m.font-set(16);
  color: #fff;
  border-radius: 0.5em;
  margin: 3em auto 0;
  @include m.centering;
  box-shadow: 0 4px 1px rgb(71, 111, 123);
  @include m.button-hover-behavior;
}

/* 基本リンクスタイル */
.basic-link {
  @include m.font-set(16);
  color: #3e1dcd;
  text-decoration: underline;
  width: fit-content;
  text-underline-offset: 2px;
  margin: 1em auto 0;
}

/* バリデーションエラーメッセージ */
.error__list {
  @include m.font-set(16) {
    font-weight: bold;
  }
}
.error__item {
  color: v.$color-red;
}

/* フラッシュメッセージ */
.flash-message {
  @include m.font-set(16) {
    font-weight: bold;
  }
  color: #fff;
  padding: 0.5em 1em;
  text-align: center;
  &.alert {
    background-color: v.$color-red;
  }
  &.notice {
    background-color: #00d05e;
  }
}

/* 基本検索フォーム */
.basic-form {
  position: relative;
}
.basic-textfield {
  width: 100%;
  height: 38px;
  border: 1.5px solid #ababab;
  @include m.font-set(16) {
    font-weight: bold;
  }
  color: #ababab;
  padding: 0 0.5em;
  &:focus {
    outline: none;
  }
}
.basic-submit-button {
  position: absolute;
  right: 10px;
  top: calc(50% - 24px / 2);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* 基本ダイアログ */
.basic-dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: min(100%, 450px);
  border: none;
}
.basic-dialog__inner {
  padding: 30px;
}
